@import 'variables';

.chess {
  width: calc(100% - 50px);
  position: relative;
  max-width: 1140px;

  * {
    user-select: none;
  }

  .controlPanel {
    position: absolute;
    left: 80%;
    top: 0;
    width: 20%;

    .orientationCoords {
      display: flex;
    }

    button {
      background-color: $squareBlack;
      border: none!important;
      border-radius: 0;
      margin: 10px;
      font-size: 20px;

      &:focus {
        box-shadow: none!important;
      }
    }

    .dropdown-menu {
      height: 400px;
      overflow-y: scroll;
      max-width: 400px;
    }
  }
}

.stop {
  height: 40px;

  .icon {
    background: white;
    width: 14px;
    height: 14px;
  }
}

button.play {
  padding: 8px;

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 22px solid white;
  }
}

