.chess {
  width: calc(100% - 50px);
  position: relative;
  max-width: 1140px;

  * {
    user-select: none;
  }

  .controlPanel {
    position: absolute;
    left: 80%;
    top: 0;
    width: 20%;

    .orientationCoords {
      display: flex;
    }
  }
}
