.piece {
  overflow: hidden;
  width: 70px;
  height: 100%;
  display: block;
  background-image: url('../images/pieces.png');
  background-size: 440px;
  position: absolute;
  margin: 0;
  left: calc(50% - 2px);
  transform: translateX(-50%);
}

.piece[color='white'] {
  background-position-y: -89px;
}

.piece[name='rook'] {
  background-position-x: 0px;
}

.piece[name='knight'] {
  background-position-x: -294px;
}

.piece[name='bishop'] {
  background-position-x: -76px;
}

.piece[name='king'] {
  background-position-x: -223px;
}

.piece[name='queen'] {
  background-position-x: -150px;
}

.piece[name='pawn'] {
  background-position-x: -368px;
}

