.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  position: relative;
}

.square label {
  position: absolute;
  bottom: 2px;
  left: 2px;
}

.square[color='white'] {
  background-color: #EEEDD2;
}

.square[color='black'] {
  background-color: #769656;
}
