@import 'variables';

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  position: relative;
}

.square label {
  position: absolute;
  bottom: -8px;
  left: 5px;
  text-transform: uppercase;
}

.square[color='white'] {
  background-color: $squareWhite;
}

.square[color='black'] {
  background-color: $squareBlack;
}
